
@{
    ViewData["Title"] = "Contact";
}
<link href="~/css/SideBar.css" rel="stylesheet" />
<h4 class="rubrik"> Kontakt</h4>

<div class="container" style="text-align:center;">
    <div>
        <h4>Namn:</h4>
        <p>William Fred</p>
    </div> 
    <div>
        <h4>Kontaktuppgifter:</h4>
        <p>williamfred@live.se</p>
        <p>0763402205</p>
    </div>
</div>