
@{
    ViewData["Title"] = "Index";
}
<script src="~/js/site.js"></script>
<link href="~/css/SideBar.css" rel="stylesheet" />


<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="@Url.Action("Startsida","Home")">Contact</a>
    <a href="@Url.Action("index","employees")">Anställda</a>
    <a href="@Url.Action("index","Sections")">Avdelningar</a>
    <a href="@Url.Action("index","Api")">Hämta API</a>
</div>

<section class="jumbotron">
    
    <div class="container">
        <h1 class="jumbotron-heading">Välkommen</h1>
        <p class="main-text">
            Vi på Ukend solutions löser allt som har med e-tjänster och API:er att göra. Klicka på gärna runt på vår sida för att
            bl.a se våra anställda och på vilken arbetsavdelning de jobbar på. På hämta API kan du även ta del av vilka städer Ukend 
            är verksamma i. Enjoy!!
        </p>
        <p>
            <button class="btn btn-secondary my-2">Visa </button>
        </p>
    </div>
    <div></div>
</section>


<div class="container-card" style="display:none">
    <h4 class="rubrik">Alternativ</h4>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <a href="Api">
                    <img id="img-1" src="~/lib/images/sanfran.jpg" />
                </a>
                <div class="card-body">
                    <p class="card-text">
                        Genom att klicka på bilden kan du se vilka städer vi är verksamma i.
                        Du kan även lägga til en ny stad om du vill. Just for fun!
                    </p>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <a href="Employees">
                    <img id="img-1" src="~/lib/images/download.jpg" />
                </a>
                <div class="card-body">
                    <p class="card-text">
                        Genom att klicka på bilden så kan du se listan över våra anställda på Ukend.
                        Här kan du också lägga till och ändra på personal om du vill. Just for fun!
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <a href="Sections">
                    <img id="img-1" src="~/lib/images/worksections.jpg" />
                </a>
                <div class="card-body">
                    <p class="card-text">
                        Genom att klicka på bilden kan du ta del av vilka olika arbetsavdelningar som finns på Ukend.
                        Du kan även lägga till nya avdelningar om du vill. Just for fun!
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>








