.sidebar {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.sidebar a:hover {
  color: #f1f1f1;
}


.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.openbtn {
  font-size: 15px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  margin:10px;
}

.openbtn:hover {
  background-color: white;
}


#main {
  transition: margin-left .5s; 
  padding: 20px;
}
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.jumbotron {
    text-align: center;
    background-color:cadetblue !important;
}

.rubrik {
    font-family:'Microsoft Himalaya';
    font-size: 60px;
    text-align: center;
}

.deleteRubrik {
    text-align: center;
    font-family: 'Californian FB';
}

.rubrik1 {
    text-align: center;
}
.link{
    color:darkcyan;

}
.link:hover
{
    color:cadetblue;
}

#main-pic {
    max-width: 100%;
    height: auto;
}
.main-text{
    text-align:center;
}
.my-2 {
    margin-bottom: .5rem !important;
}
#img-1{
    height:225px;
    width:100%;
    display:block;

}
.card{
    border: solid;
    border-color: white;
}

.card:hover {
        border-color: black;
        cursor: pointer;
}
.button-1 {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}
.img-2 {
    height: 200px;
    width: 100%;
    display: block;
    
}
.contact-div {
    text-align: center;
    width: 500px;
    margin: 0 auto;
    background: #000;
    color: #fff;
    
}

